<%- include("template/cabecera", {tituloWeb: 'A単adir Videojuego'}) %>
    <div class="container">
        <div class="card mt-4 px-5 pt-3 pb-3 bg-light bg-gradient border-primary">
            <h1>A単adir Videojuego</h1>
            <form action="/juegos" method="POST">
                <input
                type="text"
                placeholder="Agregar nombre"
                class="form-control my-2"
                name="nombre">
                <input
                type="text"
                placeholder="Agregar a単o de lanzamiento"
                class="form-control my-2"
                name="a単o">
                <input
                type="text"
                placeholder="Agregar genero"
                class="form-control my-2"
                name="genero">
                <input
                type="text"
                placeholder="Agregar Plataforma"
                class="form-control my-2"
                name="plataformas">
                <input
                type="text"
                placeholder="Agregar descripcion"
                class="form-control my-2"
                name="descripcion">
                
                <input
                type="number"
                placeholder="Agregar calificacion"
                class="form-control my-2"
                name="calificacion">
                
                <button class="btn btn-success btn-block" type="submit">Agregar</button>
        </form>
        </div>

        
    </div>
<%- include("template/footer") %>