<%- include("template/cabecera", {tituloWeb: 'Añadir Videojuego'}) %>
    <div class="container">
        <div class="card mt-4 px-5 pt-3 pb-3 bg-light bg-gradient border-primary">
            <h1>Añadir Videojuego</h1>
            
        
        </div>

        
    </div>
<%- include("template/footer") %>