<%- include("template/cabecera", {tituloWeb: 'Presentación del Equipo'}) %>
    <div class="container">
        <div class="card mb-4 mt-2 px-3 py-3 bg-light bg-gradient border-dark">
            <h1 class="h1">Organizacion y Administracion de Centros de Computo</h1>
            <h2>Grupo 2809</h2>
        </div>
        
        <div class="card mb-4 px-3 py-3 bg-light bg-gradient border-dark">
            <h2 class="h2">Integrantes: </h2>
            <div class="card-item">
                <p class="lead">Avila Aldaco Daniel Isaac</p>
                <p class="lead">Marure Sanchez Rodrigo</p>
                <p class="lead">Perez Hernandez Damian Gerardo</p>
            </div>
        </div>

        <div class="card mb-4 px-3 py-3 bg-light bg-gradient border-dark">
            <h2 class="h2">Zip del proyecto: <a class="h3" href="/descarga">Proyecto.zip</a></h2>
            
            <h3 class="lead">SHA256: </h3>
        </div>
    </div>

<%- include("template/footer") %>