<%- include("template/cabecera", {tituloWeb: 'Presentación del Equipo'}) %>
    <div style="text-align: center;" class="container">
        <div  class="card mb-4 mt-2 px-3 py-3 bg-light bg-gradient border-primary">
            <h1 style="font-weight: bold;" class="h1">Organizacion y Administracion de Centros de Computo</h1>
            <h2>Grupo 2809</h2>
        </div>
        <div>
            <img src="../images/senderoARAGON.jpg">
        </div>
        <div class="card mb-4 px-3 py-3 bg-light bg-gradient border-dark">
            <h2 class="h2">Integrantes: </h2>
            <div class="card-item">
                <p class="lead">-Avila Aldaco Daniel Isaac</p>
                <p class="lead">-Marure Sanchez Rodrigo</p>
                <p class="lead">-Perez Hernandez Damian Gerardo</p>
            </div>
        </div>
    </div>

<%- include("template/footer") %>