
<%- include("template/cabecera", {tituloWeb: 'Lista de Videojuegos'}) %>

    <div class="container">
        <div class="card mb-4 mt-2 bg-light bg-gradient border-primary">
        <a class="button">A침adir</a>
        <table class="table">
            <thead>
              <tr>
                
                <th scope="col">A침o</th>
                <th scope="col">Nombre</th>
                <th scope="col">Genero</th>
                <th scope="col">Plataforma</th>
                <th scope="col">Descripci칩n</th>
                <th scope="col">Calificaci칩n</th>
              </tr>
            </thead>
          </table>
        </div>
        
    </div>

<%- include("template/footer") %>